transformers
jinja2
pyyaml
diffusers
torch
piexif
accelerate
xformers
argcomplete
compel

numpy
opencv-python
onnx
onnxruntime
insightface
psutil
tk
customtkinter
pillow
tensorflow
opennsfw2
protobuf
tqdm
gfpgan