((Best Quality)), '{{text}}', a {{genre}} movie scene with a {{hero}} hero, based on '{{name}}', {{colors}}, {{style}}, {{artist}}, Ultra detailed, Unreal engine, Octane render, Cinematic, Ultra-Wide-Angle Shot, 8k