((Best quality)), ((masterpiece)), (highly detailed:1.3),3D,1{{gender}}, very long hair, elite {{type}}, {{setting}}, beautiful {{gender}} wearing intricate ceremonial armor {{color}} cape,
<lora:NijiExpressV2:0.4>
<lora:Mecha warrior Mecha_20230621092507:0.45>
<lora:add_detail:1>
<lora:MU-knightV1:0.4> armor, solo, {{element}}, wing, holding {{weapon}}
Negative prompt: NSFW,deformed,large breasts,missing limbs,amputated,pants,shorts,cat ears,bad anatomy, naked, no clothes,disfigured, poorly drawn face, mutation, mutated,ugly, disgusting, blurry, watermark, watermarked, oversaturated, obese, doubled face,b&w, black and white, sepia, nude, frekles, no masks,duplicate image, blur, paintings, sketches, (worst quality:2), (low quality:2), (normal quality:2), lowres, normal quality, monochrome, grayscale, bad anatomy,(fat:1.2),facing away, looking away,tilted head,lowres,bad anatomy,bad hands, text, error, missing fingers,extra digit, fewer digits, cropped, worstquality, low quality, normal quality,jpegartifacts,signature, watermark, username,blurry,bad feet,cropped,worst quality,low quality,normal quality,jpeg (artifacts:1.2),signature,watermark, easynegative(2), glasses
Steps: 30, Sampler: DPM++ 2M Karras, CFG scale: 7, Seed: 2863638316, Size: 560x800, Model hash: ec41bd2a82, Model: photon_v1, Lora hashes: "NijiExpressV2: f7f33e287cc6, Mecha warrior Mecha_20230621092507: dcac8c74c260, add_detail: 7c6bad76eb54, MU-knightV1: c3fc83b4412e", Version: v1.4.1