name: Publish

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    environment:
      name: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Test with tox
        run: |
          tox -- --cov-report lcov
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build with tox
        run: |
          tox -e build
      - name: Publish with tox
        run: |
          tox -e publish -- --repository pypi --username __token__ --password ${{ secrets.PYPI_API_KEY }} --non-interactive
